* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1 {
    background-image: url('../images/pexels-omar-alnahi-18495.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.navbar-brand img {
    height: 50px;
}

.title-content {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}

.title-content h1 {
    font-size: 4rem;
    color: white;
}

.title-content button {
    width: 150px;
}

.section2 {
    padding: 20px;
    min-height: 40vh;
    background: black;
}

.card {
    width: 300px;
    height: 200px;
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 40px;
    }
}

.card-body {
    text-align: center;
}

.card-body img {
    height: 50px;
}

.card-body p {
    margin-top: 20px;
}

.card-body i {
    color: #4F8BFC;
}

.section3 {
    background-image: url('../images/hands-heart.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.article-content {
    color: white;
}

.article-content h1 span {
    color: grey;
}

.article-content ul li p {
    font-size: 1.5rem;
    margin-top: 40px;
}

.section4 {
    min-height: 100vh;
    background: black;
    color: white;
}

@media (min-width: 1440px) {
    .section4 .pl-6 {
        padding: 0 200px 0 50px;
    }
}

.section4 .section4-img {
    width: 350px;
    height: 470px;
}

.section4 p span {
    color: #4F8BFC;
}

.section5 {
    padding: 60px;
    min-height: 100vh;
}

.section5>h2>span {
    color: grey;
}

@media (max-width: 700px) {
    .section5 {
        padding: 0;
    }

    .card-sizing {
        margin: 25px;
    }
}

.section5>h2 {
    font-size: 2.5rem;
    margin-left: 55px;
}

.card-sizing {
    height: 530px;
    margin: 50px;

}

.card-sizing>h2 {
    margin-top: 20px;
}

.card .card-image {
    height: 400px;
}